/* Styles */
body {
    align-items: center;
    background: #202020;
    display: flex;
    font-family: monospace;
    font-size: 1vmax;
    height: 100vh;
    justify-content: center;
    line-height: 1.5vmax;
    margin: 0.1%;
    text-align: left;
    vertical-align: top;
}